<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Ehab waziry</h1>
    <p class="lead">This is a simple website trying to show my backend development skills.</p>
    <hr class="my-4">
    <p>You can Sign up here to start your journey.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>