<div class="container" id="home-container"></div>
  <div class="jumbotron">
    <h1 class="display-4">Ehab waziry</h1>
    <p class="lead">This is a simple website showing my Backend development skills</p>
    <hr class="my-4">
    <p>You can sign up and start using the website</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
  </div>
</div>